venv/
devices/__pycache__
devices/migrations
net_interface/__pycache__
how_to/
__pycache__
*.*~
*.pyc
.env
.idea
net_interface/settings.py
/static/
devices/src/switches/vendor/test.log
*.log
devices/src/manager_files/updateBackup.sh
devices/database/path_of_files.py
devices/src/manager_files/netinterface.conf
devices/src/manager_files/uwsgi_netinterface.service
./uwsgi.ini
uwsgi.ini
devices/database/map/data/*
devices/database/map/data/*.json
devices/src/map/data/*
devices/src/map/data/*.json
devices/src/map/html/data/stats/*
devices/static/map/data/stats/*
devices/templates/temp.html
/media/*
